<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Department</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form (submit)="saveDepartment()">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Department Name</label>
                        <input type="text" class="form-control" (input)="empForm?.addAsyncValidators" placeholder="Enter email">
                    </div>
                </div>
                <!-- /.card-body -->
    
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mx-1">Submit</button>
                    <a routerLink="department" class="btn btn-outline-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>